* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    Meiryo, sans-serif;
}

section {
  margin: 40px 0;
  padding: 0 65px;
}

a {
  color: white;
  text-decoration: none;
}

/* ===== フォーム ==== */
#contact-box {
  width: 70%;
  margin: 5% auto;
  border-radius: 16px;
  border: 1px solid #ccc;
  padding: auto;
}

.contact-header {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 16px 0;
  border-bottom: 1px solid #ccc;
}

.need-validation {
  padding: 20px 30px;
  margin-bottom: 15px;
}

.check-info {
  font-weight: normal;
  font-size: 16px;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.choices {
  display: flex;
	font-size: 16px;
  justify-content: space-between;
}

.box-info {
  height: auto;
}

.post-info {
  height: auto;
  width: 100%;
  padding: 10px;
}

.post-info {
  font-size: 28px;
  height: auto;
  width: 100%;
  padding: 10px;
}

.post-content {
  font-size: 22px;
  height: auto;
  width: 100%;
  padding: 10px;
}

.choice {
  display: flex;
  justify-content: space-between;
}

.next {
  color: white;
  background-color: #d70566;
  width: 100%;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  margin-right: 10px;
  border: 0;
  border-radius: 8px;
}

.back {
  text-decoration: none;
  color: #066;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 2.5px;
  margin-left: 10px;
  border: 2px solid;
  border-radius: 8px;
  border-color: #066;
}
